<h1>Stupid Coaching</h1>

<div class="container you">
<em><%= @question %></em> <br> <strong><%= "-You" %></strong><br><br>
</div>
<div class="container coach">
<em><%= @answer %></em> <br> <strong><%= "-Your Coach" %></strong><br><br>
</div>
<div class="container">
<%= link_to "Ask a new Question", ask_path %>
</div>
